@model IEnumerable<Monk.Models.Worker>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #workers-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #workers-table-headers .table-header {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table-header {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2865b7;
        color: white;
    }

    .table-item {
        padding-left: 5px;
    }
</style>
<h2>Worker List</h2>
<p>
    @Html.ActionLink("Add New Worker", "WorkerAdd")
</p>
<table id="workers-table">
    <tr id="workers-table-headers">
        <th class="table-header">First Name</th>
        <th class="table-header">Surname</th>
        <th class="table-header">ID</th>
        <th class="table-header">Phone</th>
        <th class="table-header">Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="table-item">@Html.DisplayFor(Item => item.FirstName)</td>
            <td class="table-item">@Html.DisplayFor(Item => item.Surname)</td>
            <td class="table-item">@Html.DisplayFor(Item => item.IdCard)</td>
            <td class="table-item">@Html.DisplayFor(Item => item.Phone)</td>
            <td class="table-item">@Html.DisplayFor(Item => item.Email)</td>
        </tr>
    }
</table>